@{
    ViewData["Title"] = "Home Page";
}

<!-- Contenedor principal centrado verticalmente -->
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <!-- Encabezado de bienvenida con el nombre de usuario -->
    <h1 class="display-4">Bienvenido @ViewData["nombreUsuario"]</h1>
    <!-- Imagen de perfil del usuario -->
    <img src="@ViewData["fotoPerfil"]" alt="Foto de perfil" style="width: 200px; height: 200px; border-radius: 50%;" />
</div>